body {
	background-color: rgba(7, 31, 69);
}

.container {
	 margin: 200px auto;
	 width: 400px;
	 overflow: hidden;
	 background-color: #fff;
}

.container_display {
	width: 100%;
	background-color: #000;
}

.container_display_calculation {
	padding: 35px;
	text-align: right;
	font-size: 30px;
	color: #fff;
}


.container_keyboard {
	padding: 15px 0;
	width: 100%;
	height: 250px;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}

button {
	font-size: 20px;
	border: none;
}

button:focus {
	border: none;
	outline: none;
}

.operator {
	background-color: ;
}